@import url('/FontFamily/fontFamily.css');
body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: none;
}

.drawing-container {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('/pictures/drawingGame/drawingBackground.webp');
    background-position: 80%;
    background-size: auto 100%;
    justify-content: center;
    align-items: center;
}

.drawing-container .output_canvas {
    position: relative;
    width: 96%;
    height: 100%;
    left: 2%;
    z-index: 1;
    border: 0%;
    background-color: white;
    border-radius: 1%;
}

.drawing-container .textStyle {
    color: black;
    font-family: Marhey;
    text-align: center;
    font-size: 4em;
}

.drawing-container .mouse_pointer {
    pointer-events: none;
    position: absolute;
    height: 8vh;
    width: auto;
    z-index: 999;
    border-radius: 100% 0% 100% 0%;
}

.drawing-container .layer {
    display: block;
    width: 100%;
}

.drawing-container .fourthLayer {
    width: 96%;
    display: grid;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    grid-template-columns: 8% 8% 8% 8% 8% 8% 1fr 45%;
    gap: 1%;
}

.drawing-container .fifthLayer {
    height: 8%;
}

.drawing-container .btn {
    top: 10%;
    border: 0cm;
    cursor: none;
    position: relative;
}

.drawing-container #btnBack {
    background-color: transparent;
    left: 2%;
    height: 80%;
}

.drawing-container .btnSecondLayer {
    border-radius: 7px;
    height: 60%;
    width: 24%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    font-weight: 600;
}

.drawing-container #btnClearBackground {
    left: 2%;
    width: 30%;
    font-size: 4em;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

.drawing-container #btnPauseDrawing {
    left: 22%;
}

.drawing-container #btnSwitchMode {
    left: 25%;
}

.drawing-container .colourPicker {
    border: 0cm;
    position: relative;
    cursor: none;
    border-radius: 15px;
}

.drawing-container #btnGreen {
    grid-column-start: 1;
}

.drawing-container #btnBlue {
    grid-column-start: 2;
}

.drawing-container #btnRed {
    grid-column-start: 3;
}

.drawing-container #btnYellow {
    grid-column-start: 4;
}

.drawing-container #btnWhite {
    grid-column-start: 5;
}

.drawing-container #btnBlack {
    grid-column-start: 6;
}

.drawing-container #btnRGBPicker {
    grid-column-start: 8;
}

.drawing-container #txtLineThickness {
    position: relative;
    left: 0%;
    width: 10%;
}

.drawing-container #btnMinusThickness {
    background-color: transparent;
    height: 80%;
    width: 10%;
    left: 2%;
    font-size: 6em;
}

.drawing-container #btnPlusThickness {
    background-color: transparent;
    height: 80%;
    width: 10%;
    left: 0%;
    font-size: 6em;
}

.drawing-container #selected_colour {
    border: 0cm;
    border-radius: 20%;
    aspect-ratio: 1/1;
    height: 40%;
    position: relative;
    top: -60%;
    left: 70%;
}

.drawing-container #current_colour {
    height: 80%;
    width: 10%;
    top: -100%;
    left: 77%;
    position: relative ;
}

/* === Responsive dizajn za različite razlučivosti === */

/* MOBITELI */
@media screen and (max-width: 512px) and (max-aspect-ratio: 3/4) {
    .drawing-container {
        background-position: 80%;
        background-size: auto 100%;
    }

    .drawing-container #btnClearBackground {
        font-size: 0.6em;
    }

    .drawing-container .firstLayer {
        height: 6.5%;
    }

    .drawing-container .secondLayer {
        height: 8.64%;
    }

    .drawing-container .thirdLayer {
        height: 69%;
    }

    .drawing-container .fourthLayer {
        height: 5%;
        grid-template-columns: 8% 8% 8% 8% 8% 8% 1fr 45%;
        gap: 1%;
    }

    .drawing-container .fifthLayer {
        height: 8%;
    }

    .drawing-container .mouse_pointer {
        height: 6vh;
    }
}

/* TABLETI I MANJI DESKTOPI: širina između 601px i 1024px */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .drawing-container .output_canvas {
        height: 80%;
    }

    .drawing-container .textStyle {
        font-size: 3em;
    }

    .drawing-container #btnClearBackground {
        font-size: 3em;
    }
}

/* TV vertikalan */
@media screen and (min-width: 1920px) and (max-aspect-ratio: 3/4) {
    .drawing-container {
        background-position: 80%;
        background-size: auto 100%;
    }

    .drawing-container .firstLayer {
        height: 6.5%;
    }

    .drawing-container .secondLayer {
        height: 8.64%;
    }

    .drawing-container .thirdLayer {
        height: 69%;
    }

    .drawing-container .textStyle {
        font-size: 3.5em;
    }

    .drawing-container .fourthLayer {
        height: 5%;
        grid-template-columns: 8% 8% 8% 8% 8% 8% 1fr 45%;
        gap: 1%;
    }
}
