@import url("/FontFamily/fontFamily.css");
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: none;
    touch-action: none;
}
#gameContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("/pictures/startMenu/startMenuBackground.webp");
    background-position: 50%;
    background-size: auto 100%;
    justify-content: center;
    align-items: center;
}
.imgProfBaltazar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    height: 75%;
    width: auto;
}
.textStyle {
    color: white;
    font-family: Marhey;
}
.layer {
    display: block;
    width: 100%;
}
.firstLayer {
    height: 35%;
    align-content: center;
}
.secondLayer {
    height: 55%;
}
.mouse_pointer {
    pointer-events: none;
    z-index: 999;
}
.cursor-wrapper {
    position: absolute;
    pointer-events: none;
    width: 50px;
    height: 70px;
    z-index: 999;
}
.cursor-indicator {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid white;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    pointer-events: none;
}
.btn {
    border: 0cm;
    cursor: none;
}
.btnGameButtons {
    background-color: #F48131;
    width: 50%;
    height: 12%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 6em;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

/* MOBITELI */
@media screen and (max-width: 1080px) and (max-aspect-ratio: 3/4) {
    .btnGameButtons {
        width: 80%;
        font-size: 2em;
        margin-left: 10%;
        margin-right: 10%;
    }
    .imgProfBaltazar {
        height: 60%;
    }
    .cursor-wrapper {
        width: 5%;
        height: auto;
    }
    .mouse_pointer {
        width: 48px;
        height: auto;
    }
}

/* TABLETI */
@media screen and (min-width: 601px) and (min-aspect-ratio: 4/3) {
    .btnGameButtons {
        width: 60%;
        font-size: 4em;
    }
}

/* TV vertikalan */
@media screen and (min-width: 1920px) and (max-aspect-ratio: 3/4) {
    .btnGameButtons {
        width: 50%;
        font-size: 6em;
    }
    .cursor-wrapper {
        width: 5%;
        height: auto;
    }
    .mouse_pointer {
        width: 256px;
        height: auto;
    }
}
